.basket {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-size: contain;
  padding: 10px;
  margin: 0;

  &__list {
    position: relative;
  }

  &__clothe {
    top: 3%;
    right: 3%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
  }
  &__clothe:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    top: 45%;
    right: 0%;
  }
  &__clothe:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
    top: 45%;
    right: 0%;
  }
  &__sum {
    margin: 15px 0;
  }
  &__btn--favorite {
    position: absolute;
    bottom: 5%;
    right: 3%;
    object-fit: cover;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  &__wrapper:before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 100;
  }
  &__form {
    width: 20%;
    padding: 30px 30px;
    position: fixed;
    top: 20%;
    left: 40%;
    background-color: rgb(242, 107, 58);
    border-radius: 5px;
    z-index: 1000;
    opacity: 1;
  }

  &__input {
    margin: 10px auto;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
  }
  &__btn {
    background-color: rgb(197, 81, 19);
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
  }
  &__byAll {
    padding: 5px;
    background-color: cadetblue;
    position: absolute;
    top: 150px;
    right: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }
  &__byAll:hover {
    background-color: rgb(40, 133, 133);
  }
}
