.header {
  background-image: url(../../../public/img/header2.jpeg);
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  &__nav {
    display: flex;
    width: 70%;

    &--link {
      color: white;
      cursor: pointer;
      background-color: transparent;
      border: none;
      text-align: end;
      font-size: 22px;
      padding: 0 0 0 5%;
      height: 20%;
      margin-top: 2%;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-end;
  }
  &__button {
    width: 120px;
    height: 40px;
    padding: 10px;
    margin-top: 15px;
    margin-right: 15px;
    background-image: url(../../../public/img/Like.png);
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: transparent;
    border: none;
    color: #e66565;
    text-align: right;

    &--buy {
      width: 100px;
      height: 20px;
      padding: 10px;
      margin-top: 10px;
      margin-right: 15px;
      background-image: url(../../../public/img/basket.png);
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: contain;
      background-color: transparent;
      border: none;
      color: #2546fd;
      text-align: right;
    }
  }
}
.active-link {
  color: red;
  font-size: 20px;
  margin: 10px 0 0 10px;
}
.link {
  font-size: 20px;
  color: azure;
  margin: 10px 0 0 10px;
  text-decoration: none;
}
